

:root {
  --color: #5405bd;
  --color--primary: #180136;
}

.card {
  background-color: white;
  cursor: pointer;
  transition: color 150ms ease-out;
}

.card:hover .card__title {
  color: var(--color--primary);
}

.card:hover .card__media .-hover--effect {
  transition: 0.3s ease all;
  transform: scale(1.08);
}

.card:hover .link:after {
  height: 0.125rem;
  width: 100%;
  background-color: var(--color);
}

.card__media {
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.4s ease all;
  mask-image: linear-gradient(white, black);
}

.card__media img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  transition: 0.4s ease all;
  width: 100%;
}

.card__title,
.card__description {
  display: flex;
}

.card__title {
  -webkit-line-clamp: 6;
}
